.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-primary { 
    color: #fff!important;
    background-color: #F3DB5D!important;
    border-color: #F3DB5D!important;
    max-width: fit-content!important;
}

.btn-secondary { 
    color: #fff!important;
    background-color: #8D9492!important;
    border-color: #8D9492!important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{ 
    color: #fff!important;
    background-color: #F3DB5D!important;
    border-color: #F3DB5D!important;
    box-shadow: 0 0 0 0.2rem rgb(243 219 93 / 50%)!important;
}


.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus{ 
    color: #fff!important;
    background-color: #8D9492!important;
    border-color: #8D9492!important;
    box-shadow: 0 0 0 0.2rem rgb(141 148 146 / 50%)!important;
}

.login-form {
    padding: 15px;
    border-radius: 0.25rem;
    border: 1px solid #8D9492;
}

.login-form .form-control {
    border: 2px solid #8D9492!important;
    background-color: #DFE1E1!important;
}

.login-form .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(141 148 146 / 25%);
}

.login-form h1 {
    padding: 15px;
    text-align: center;
    box-shadow: 0px 15px 10px -15px #8D9492;
}



