.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-primary { 
    color: #fff!important;
    background-color: #F3DB5D!important;
    border-color: #F3DB5D!important;
    max-width: fit-content!important;
}

.btn-secondary { 
    color: #fff!important;
    background-color: #8D9492!important;
    border-color: #8D9492!important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{ 
    color: #fff!important;
    background-color: #F3DB5D!important;
    border-color: #F3DB5D!important;
    box-shadow: 0 0 0 0.2rem rgb(243 219 93 / 50%)!important;
}


.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus{ 
    color: #fff!important;
    background-color: #8D9492!important;
    border-color: #8D9492!important;
    box-shadow: 0 0 0 0.2rem rgb(141 148 146 / 50%)!important;
}

.login-form, .logup-form {
    padding: 15px;
    border-radius: 0.25rem;
    border: 1px solid #8D9492;
}

.login-form .form-input, .logup-form .form-input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 2px solid #8D9492;
    background-color: #DFE1E1;
}


.login-form .form-input:focus, .login-form .form-input:active, .login-form .form-input:hover, .login-form .form-input:visited, .logup-form .form-input:focus, .logup-form .form-input:active, .logup-form .form-input:hover, .logup-form .form-input:visited {
    box-shadow: 0 0 0 0.2rem rgb(141 148 146 / 25%);
    border: 2px solid #8D9492!important;
    background-color: #DFE1E1;
    outline: none!important;
}

.login-form .form-input:visited, .logup-form .form-input:visited {
    background-color: #e6e6e6;
}

.login-form .form-input:-webkit-autofill,
.logup-form .form-input:-webkit-autofill 
.login-form .form-input:-webkit-autofill:focus,
.logup-form .form-input:-webkit-autofill:focus,
.login-form .form-input:-webkit-autofill:hover,
.logup-form .form-input:-webkit-autofill:hover  
{
    background-color: #DFE1E1!important;
    color:#495057!important;
}

.login-form h1, .logup-form h1 {
    padding: 15px;
    text-align: center;
    box-shadow: 0px 15px 10px -15px #8D9492;
}

.logup-form .check-label {
    padding-left: 10px;
}



