/* Fonts */
@font-face {
    font-family: "harry_potter";
    src: url("../../fonts/hp/harry_potter.TTF") format('truetype');
}
@font-face {
    font-family: "lord_of_the_rings";
    src: url("../../fonts/tlotr/RINGM___.TTF") format('truetype');
}
@font-face {
    font-family: "marvel";
    src: url("../../fonts/marvel/Marvel-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "star_wars";
    src: url("../../fonts/sw/Starjedi.ttf") format('truetype');
}

.mainTheme {
    font-style: italic;
}

.hp h1{
    font-family: 'harry_potter','roboto', 'opensans', sans-serif;
    font-size: 5rem;
}

.sda h1 {
    font-family: 'lord_of_the_rings','roboto', 'opensans', sans-serif;
    font-size: 3.5rem;
}

.sw h1 {
    font-family: 'star_wars', 'roboto', 'opensans', sans-serif;
    font-size: 3.5rem;
}

.marvel h1 { 
    font-family: 'marvel','roboto', 'opensans', sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
}


