header {
    margin-bottom: 80px;
    background-color: #fff;
}

.bg-main {
    background-color: #8D9492;
}

.navbar-main .navbar-brand{
    color: #FFF!important;
}

.navbar-main .navbar-nav .nav-link{
    color: #FFF!important;
}

.navbar-main .navbar-nav .nav-link.is-active {
    color: #F3DB5D!important;
    box-shadow: 0 2px 2px -2px #FFF;
}

.navbar-main .nav-title {
    padding-left: 5px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    font-weight: 500;
}

/* partie compte / panier sur la droite */
.ms-auto {
    margin-left: auto!important;
}